* {
  margin: 0;
  padding: 0;
}

.body {
  background-position: fixed;
  background-size: cover;
  text-align: center;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}
.about{
 /* display: flex; */
 position:absolute; left: 600px; top: 200px;
 
}
.nav-nav {
  margin-top: 70px;
  background-size: 190px;
  background-color: transparent;
  width: 15%;
  height: 700px;
  padding-top: 10px;
  text-decoration-color: rgb(221, 236, 221);
}
/*Icon styles*/
.fa {
  padding: 20px;
  font-size: 25px;
  width: 60px;
  text-align: center;
  flex-direction: row;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #000000;
  color: rgb(255, 255, 255);
}

.fa-linkedin {
  background: #040505;
  color: rgb(250, 250, 250);
}
.fa-github {
  background: rgb(3, 3, 3);
  color: rgb(248, 248, 248);
}

.Xola{
  width: 300px;
}

ul li {
  list-style: none;
  color: goldenrod;
}
.card-body {
  border-radius: 0;
  margin-top: 0;
  height: 200px;
  width: 800px;
  padding-left: 180px;
}
.card {
  border: 1px black;
  width: 250px;
  height: 200px;
  background-color: transparent;
  
}

.skill{
  width: 150px;
  height: 200px;
}

.typing {
  color: rgb(219, 231, 224);
  padding-left: 350px;
  padding-top: 190px;
  text-align: center;
}

.nav-link {
  color: rgb(18, 35, 61);
  list-style: none;
  grid-gap: 15px;
  align-items: center;
  /* border-left: 2px solid silver; */
}
.nav-item {
  display: table-row;
}
.display-1 {
  text-align: center;
  margin-left: 400px;
  /* /* border-bottom: 2px solid snow; */
  color: springgreen;
}


.carousel {
  width: 70%;
  position: fixed;
  margin-left: 380px;
  margin-top: 40px;
}
.Logo {
  margin-top: 90px;
  margin-bottom: 60px;
  width: 250px
}

/* .About-content {
  margin-top: 20%;
  margin-left: 0;
  margin-right: 200px;
  margin-bottom: 0;
} */

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: transparent;
  transition: all 0.3s linear;
  border-style: solid;
}

section {
  min-height: 50vh;
  margin-left: 300px;
}

.nav-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
}

.flip-container {
  margin-left: 320px;
  background-image: fixed;
  background-attachment: no-repeat;
  background-position: center;
  position: fixed;
}

.conta{
  margin-top: 70px;
  display: flex;
justify-content: center;
align-items: center;
transform: translate(172px, 0px);
}
.form-group {
  width: 400px;
}

.info{
  margin-top: 520px;
  margin-left: 340px;
}
/* .p-info {
  margin-top: 220px;
} */
.subtitle {
  text-align: start;
  /* margin-left: 20px; */
}
.figure {
  /* margin-left: 500px; */
  border-style: solid;
  margin-top: 50px;
  display: flex;
  /* width: 800px; */
}
.list-unstyled {
  align-items: center;
  display: inline-table;
}
.subtitle {
  height: 50px;
  margin-right: 30px;
}
.content {
  display: flex;
  display: inherit;
  margin-bottom: 40px;
  width: 9000px;
}

.p {
  text-align: center;
}
.Skills-content {
  text-align: center;
  /* margin-bottom: 300px;  */
}
.test {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: 100px;
  margin-top: 400px;
  border-style: solid;
}
.header {
  color: gold;
  padding-left: 40px;
}

.projects {
  width: 6000px;
  margin-left: 700px;
}

/* ---- Timeline ---- */
.main-timeline{ font-family: 'Poppins', sans-serif; }
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: calc(50% + 70px);
    padding: 50px 15px 10px 0;
    margin: 0 0 30px 10px;
    float: right;
    position: relative;
    margin-top: 70px;
  justify-content: center;
  align-items: center;
  transform: translate(172px, 0px);
}
.main-timeline .timeline:before{
    content: "";
    background: #e34856;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}
.main-timeline .timeline-content{
    color: #e34856;
    background: #fff;
    min-height: 140px;
    padding: 20px 20px 20px 175px;
    border-radius: 15px 15px 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: block;
    position: relative;
}
.main-timeline .timeline-content:before{
    content: "";
    background: #333;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 140px;
}
.main-timeline .timeline-content:after{
    content: "";
    background: #e34856;
    width: 15px;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 135px; margin-top: 70px;


}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    color: #474747;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    bottom: 20px;
    left: 45px;
}
.main-timeline .timeline-year{
    color: #fff;
    background: linear-gradient(45deg,#555 1px, #F76C6F 40px);
    font-size: 42px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 20px;
}
.main-timeline .timeline-year span{
    font-size: 22px;
    font-weight: 400;
}
.main-timeline .title{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin: 0 0 8px;
}
.main-timeline .description{
    color: #222;
    font-size: 13px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: left;
    padding: 50px 0 10px 15px;
    margin: 0 10px 30px 0;
}
.main-timeline .timeline:nth-child(even):before{
    border-radius: 10px 0 0 10px;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    padding: 20px 175px 20px 20px;
    border-radius: 15px 15px 0 15px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: auto;
    right: 140px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
    left: auto;
    right: 135px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: auto;
    right: 45px;
}
.main-timeline .timeline:nth-child(even) .timeline-year{
    left: auto;
    right: 20px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ color: #2DB6DC; }
.main-timeline .timeline:nth-child(4n+2):before,
.main-timeline .timeline:nth-child(4n+2) .timeline-content:after{
    background-color: #2DB6DC;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-year{
    background: linear-gradient(45deg, #555 1px, #2DB6DC 40px);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ color: #50AE50; }
.main-timeline .timeline:nth-child(4n+3):before,
.main-timeline .timeline:nth-child(4n+3) .timeline-content:after{
    background-color: #50AE50;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-year{
    background: linear-gradient(45deg, #555 1px, #50AE50 40px);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ color: #B53471; }
.main-timeline .timeline:nth-child(4n+4):before,
.main-timeline .timeline:nth-child(4n+4) .timeline-content:after{
    background-color: #B53471;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-year{
    background: linear-gradient(45deg, #555 1px, #B53471 40px);
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ width: 100%; }
}
@media screen and (max-width:479px){
    .main-timeline .timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: center;
        padding: 115px 15px 15px;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before{
        width: 100%;
        height: 3px;
        top: 85px;
        left: 0;
    }
    .main-timeline .timeline-content:after{
        width: 30%;
        height: 15px;
        top: 79px;
        bottom: auto;
        left: auto;
        right: 0;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content:after{ left: 0; }
    .main-timeline .timeline-icon{
        top: 15px;
        bottom: auto;
        right: 25px;
        left: auto;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content .timeline-icon{
        right: auto;
        left: 25px;
    }
}


/* ---- Timeline elements ---- */


/* ---- Hover effects ---- */
li:hover {
  cursor: pointer;
  color: #000000;
}
li:hover .description {
  display: block;
}

.Bar-container {
  margin-top: 100px;
}
.typing {
  text-align: center;
  margin-left: 100px;
}

.section-contact {
  padding: 120px;
  background-color: rgba(255, 246, 250, 0.322);
}

.section-contact .header-section .title {
  position: relative;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
}

.section-contact .header-section .title .dot {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background-color: #df383f;
}

.section-contact .header-section .description {
  font-family: "Roboto", sans-serif;
  color: #2a6287;
}

.section-contact .header-section .big-title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 70%);
  font-size: 120px;
  font-weight: 700;
  opacity: 0.15;
}

.section-contact .form-contact .single-input {
  position: relative;
  margin-top: 40px;
}

.section-contact .form-contact .single-input i {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #050505;
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #07395c;
  padding-left: 50px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: border 0.3s;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
  color: rgba(7, 57, 92, 0.3);
}

.section-contact .form-contact .single-input input:focus,
.section-contact .form-contact .single-input textarea:focus {
  border-color: #0e0d0d;
}

.section-contact .form-contact .single-input textarea {
  height: 150px;
  min-height: 50px;
}

.section-contact .form-contact .submit-input input {
  margin-top: 40px;
  padding: 15px 50px;
  background-color: #fbf8ff50;
  color: black;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s;
}

.section-contact .form-contact .submit-input input:hover {
  background-color: #090a0a;
}

/*Landing animation*/
.text-effect{
  color: #333;
  font-family: 'Mali', cursive;
  font-size: 100px;
  font-weight: 700;
  padding-left: 17cm;
  padding-top: 5cm;
  text-align: center;
}
.text-effect span{
  display: inline-block;
  animation: flicker 1s linear forwards infinite;
}
.text-effect span:nth-child(2){ animation-delay: 0.2s; }
.text-effect span:nth-child(3){ animation-delay: 0.5s; }
.text-effect span:nth-child(4){ animation-delay: 0.6s; }
.text-effect span:nth-child(5){ animation-delay: 0.8s; }
.text-effect span:nth-child(6){ animation-delay: 1.2s; }
.text-effect span:nth-child(7){ animation-delay: 1.5s; }
.text-effect span:nth-child(8){ animation-delay: 1.6s; }
.text-effect span:nth-child(9){ animation-delay: 1.8s; }
.text-effect span:nth-child(10){ animation-delay: 2s; }
@keyframes flicker{
  0%{ color: #333; }
  5%, 15%, 25%, 30%, 100%{
      color: #fff;
      text-shadow: 0px 0px 25px cyan;
  }
  10%, 20%{
      color: #333;
      text-shadow: none;
  }
}
@media only screen and (max-width: 990px){
  .text-effect{ font-size: 90px; }
}
@media only screen and (max-width: 767px){
  .text-effect{ font-size: 70px; }
}
@media only screen and (max-width: 576px){
  .text-effect{ font-size: 50px; }
}
@media only screen and (max-width: 479px){
  .text-effect{
      font-size: 40px;
      line-height: 50px;
  }
}

/*Landing animation ends*/

@media screen and (max-width: 1000px) {
  .contact-form {
    left: 70px;
  }
}


@media (min-width: 768px) and (max-width: 991.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}


@media (min-width: 576px) and (max-width: 900.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

@media screen and (max-width: 900px) {
  .navigation {
    left: -100%;
  }
  .navigation.active {
    left: 0;
  }
  .nav-button {
    display: block;
  }
  section {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    width: 70%;
    position: fixed;
    margin-left: 200px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {
  .figure {
    left: 50px;
  }
  .list-unstyled {
    display: grid;
  }

@media screen and (max-width: 779px){
  .about{
     margin-right: 200px;
  }
  .card-body{
    padding-right: 90px;
  }
}

@media screen and (max-width:767px){
  .main-timeline .timeline{ width: 100%; }
}

@media screen and (max-width: 670px){
  .carousel{
    width: 70%;
    position: fixed;
    margin-left: 100px;
    margin-top: 40px;
    height: 100px;
  }
}

@media screen and (max-width: 611px) {
  .conta{
    margin-left: 20px;
  }
}


  @media (max-width: 575.99px) {
    .section-contact {
      padding: 80px 60px;
    }

    .section-contact .header-section .title {
      font-size: 40px;
    }

    .section-contact .header-section .big-title {
      font-size: 80px;
    }

    .section-contact .header-section .description {
      font-size: 14px;
    }
  }
@media screen and (max-width:479px){
  .main-timeline .timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
      text-align: center;
      padding: 115px 15px 15px;
  }
}}