*{
    margin: 0;
    padding: 0;
}
.logo
{
    height: 48px;
    padding: 2px 10px;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: fixed;
}
.body{
background-position: fixed;
background-size:cover;
text-align: center;


}
.nav{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
      
}
.nav-nav{
    margin-top: 70px;
    background-size: 190px;
    background-color: transparent;    
    width: 15%;
    height: 700px;
    padding-top: 10px;
    text-decoration-color: rgb(221, 236, 221);
    /* display: flex; */
    
}

ul li {
    list-style: none;
    color: goldenrod;
}
.card-body{
    border-radius:0;
    margin-top:0;
    height:2px;
    width: 5px;
    padding-left:0;
    
}
.card{
    border:none;
    background-color: transparent;
    width: 10px;
    
}
.typing{
    color: rgb(219, 231, 224);
    padding-left: 350px;
    padding-top: 190px;
    text-align: center;
}
.card-img-top{
    height: 250px;
    padding-right: 120px;
    width: 250px;
    background-color: transparent;
}
.nav-link{
    color:goldenrod;
    list-style: none;
    /* border-left: 2px solid silver; */
}
.nav-item{
    display:table-row;
}
.display-1{
    text-align: center;
    margin-left: 400px;
    /* /* border-bottom: 2px solid snow; */
    color: springgreen;
} 
.card-img-top2{
    background-color: transparent;
 height: 250px;
    padding-right: 120px;
    width: fit-content;
    background-color: transparent;
}
.carousel{
    width: 50%;

}
.About-content{
    margin-top: 20%;
    margin-left:0;
    margin-right:200px;
}


.navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color:transparent;
    transition: all 0.3s linear;
    border-style: solid;
  }

section {
    min-height: 100vh;
    margin-left: 300px;
  }

.nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .navigation {
      left: -100%;
    }
    .navigation.active {
      left: 0;
    }
    .nav-button {
      display: block;
    }
    section {
      margin-left: 0;
    }
  }
  .flip-container{
      margin-left: 320px;
      background-image: fixed;
  background-attachment: no-repeat;
    }
    .contact-form{
        margin-left: 500px;
    }
.form-group{
    width: 700px;
}
/* .img-thumbnail{
    background-color: transparent;
    margin-left: 100px;
    margin-top: 250px;
    border-style: solid;
    box-sizing: content-box;
} */
.p-info{
    margin-top: 220px;
}
.subtitle{
    text-align: center;
}
.figure{
    margin-left: 300px;
    border-style: solid;
    margin-top: 200px;
    display: flex;
    
}
.list-unstyled{
  align-items: flex-end;

}
.subtitle{
    height: 50px;
    margin-right: 30px;
}
.content{
    display: flex;
    display: inherit;
    margin-bottom: 40px;
}
#about{
    text-align: center;

}
.p{
    text-align: center;
}
.Experience{
    text-align: center;  
}
.test{
    width: 1000px;
    display: flex;
    text-align: center;
    justify-content: right;
    margin-left: 100px;
    margin-top: 400px;
}