* {
  margin: 0;
  padding: 0;
}

.body {
  background-position: fixed;
  background-size: cover;
  text-align: center;
}
.nav {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}
.nav-nav {
  margin-top: 70px;
  background-size: 190px;
  background-color: transparent;
  width: 15%;
  height: 700px;
  padding-top: 10px;
  text-decoration-color: rgb(221, 236, 221);
}
/*Icon styles*/
.fa {
  padding: 20px;
  font-size: 25px;
  width: 60px;
  text-align: center;
  flex-direction: row;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  background: #000000;
  color: rgb(255, 255, 255);
}

.fa-linkedin {
  background: #040505;
  color: rgb(250, 250, 250);
}
.fa-github {
  background: rgb(3, 3, 3);
  color: rgb(248, 248, 248);
}

ul li {
  list-style: none;
  color: goldenrod;
}
.card-body {
  border-radius: 0;
  margin-top: 0;
  height: 2px;
  width: 5px;
  padding-left: 0;
}
.card {
  border: none;
  background-color: transparent;
  width: 10px;
}
.typing {
  color: rgb(219, 231, 224);
  padding-left: 350px;
  padding-top: 190px;
  text-align: center;
}

.nav-link {
  color: rgb(18, 35, 61);
  list-style: none;
  grid-gap: 15px;
  align-items: center;
  /* border-left: 2px solid silver; */
}
.nav-item {
  display: table-row;
}
.display-1 {
  text-align: center;
  margin-left: 400px;
  /* /* border-bottom: 2px solid snow; */
  color: springgreen;
}
/* .card-img-top2 {
  background-color: transparent;
  height: 100px;
  /* padding-right: 120px; */
/* width: fit-content; */

.carousel {
  width: 70%;
  position: fixed;
  margin-left: 380px;
  margin-top: 40px;
}
.Logo {
  margin-top: 90px;
  margin-bottom: 60px;
  width: 250px
}

.About-content {
  margin-top: 20%;
  margin-left: 0;
  margin-right: 200px;
  margin-bottom: 0;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: transparent;
  transition: all 0.3s linear;
  border-style: solid;
}

section {
  min-height: 50vh;
  margin-left: 300px;
}

.nav-button {
  position: fixed;
  top: 20px;
  right: 20px;
  display: none;
}

.flip-container {
  margin-left: 320px;
  background-image: fixed;
  background-attachment: no-repeat;
  background-position: center;
  position: fixed;
}
 /* .contact-form {
  margin-left: 800px;
  width: 300px;
  margin-top: 30px;
}   */
.conta{
  margin-top: 70px;
}
.form-group {
  width: 400px;
}
/* .card-group{} */
/* .img-thumbnail{
    background-color: transparent;
    margin-left: 100px;
    margin-top: 250px;
    border-style: solid;
    box-sizing: content-box;
} */
.p-info {
  margin-top: 220px;
}
.subtitle {
  text-align: start;
  /* margin-left: 20px; */
}
.figure {
  /* margin-left: 500px; */
  border-style: solid;
  margin-top: 50px;
  display: flex;
  /* width: 800px; */
}
.list-unstyled {
  align-items: center;
  display: inline-table;
}
.subtitle {
  height: 50px;
  margin-right: 30px;
}
.content {
  display: flex;
  display: inherit;
  margin-bottom: 40px;
  width: 9000px;
}
#about {
  text-align: center;
  margin-bottom: 0;
}
.p {
  text-align: center;
}
.Skills-content {
  text-align: center;
  /* margin-bottom: 300px;  */
}
.test {
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: 100px;
  margin-top: 400px;
  border-style: solid;
}
.header {
  color: gold;
  padding-left: 40px;
}
.about{

  display: flex;

}
.projects {
  width: 6000px;
  margin-left: 700px;
}

/* ---- Timeline ---- */
ol {
  position: relative;
  display: block;
  margin: 100px;
  height: 4px;
  background: gold;
}
ol::before,
ol::after {
  content: "";
  position: absolute;
  top: -8px;
  display: block;
  width: 0;
  height: 0;
  border-radius: 10px;
  border: 10px solid #31708f;
}
ol::before {
  left: -5px;
}
ol::after {
  right: -10px;
  border: 10px solid transparent;
  border-right: 0;
  border-left: 20px solid #31708f;
  border-radius: 3px;
}

/* ---- Timeline elements ---- */
li {
  position: relative;
  display: inline-block;
  float: none;
  width: 150px;
  font: bold 14px arial;
  height: 50px;
}
li .diplome {
  position: absolute;
  top: -47px;
  left: 36%;
  color: #000000;
}
li .point {
  content: "";
  top: -4px;
  left: 43%;
  display: block;
  width: 6px;
  height: 6px;
  border: 4px solid #31708f;
  border-radius: 10px;
  background: #fff;
  position: absolute;
}
li .description {
  display: none;
  background-color: black;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  font-weight: normal;
  z-index: 1;
}
.description::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f4f4f4;
  position: absolute;
  top: -5px;
  left: 43%;
}

/* ---- Hover effects ---- */
li:hover {
  cursor: pointer;
  color: #000000;
}
li:hover .description {
  display: block;
}

.Bar-container {
  margin-top: 100px;
}
.typing {
  text-align: center;
  margin-left: 100px;
}

.section-contact {
  padding: 120px;
  background-color: rgba(255, 246, 250, 0.322);
}

.section-contact .header-section .title {
  position: relative;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 55px;
}

.section-contact .header-section .title .dot {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  background-color: #df383f;
}

.section-contact .header-section .description {
  font-family: "Roboto", sans-serif;
  color: #2a6287;
}

.section-contact .header-section .big-title {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 70%);
  font-size: 120px;
  font-weight: 700;
  opacity: 0.15;
}

.section-contact .form-contact .single-input {
  position: relative;
  margin-top: 40px;
}

.section-contact .form-contact .single-input i {
  position: absolute;
  top: 5px;
  left: 15px;
  color: #050505;
}

.section-contact .form-contact .single-input input,
.section-contact .form-contact .single-input textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #07395c;
  padding-left: 50px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: border 0.3s;
}

.section-contact .form-contact .single-input input::placeholder,
.section-contact .form-contact .single-input textarea::placeholder {
  color: rgba(7, 57, 92, 0.3);
}

.section-contact .form-contact .single-input input:focus,
.section-contact .form-contact .single-input textarea:focus {
  border-color: #0e0d0d;
}

.section-contact .form-contact .single-input textarea {
  height: 150px;
  min-height: 50px;
}

.section-contact .form-contact .submit-input input {
  margin-top: 40px;
  padding: 15px 50px;
  background-color: #fbf8ff50;
  color: black;
  border: none;
  font-weight: 700;
  transition: background-color 0.3s;
}

.section-contact .form-contact .submit-input input:hover {
  background-color: #07395c;
}

/*Landing animation*/

.hero-students {
  justify-content: center;
  margin-left: 600px;
  width: 500px;
  margin-top: 200px;
  background-color: #dcdfe8;
  display: flex;
  flex-basis: content;
  flex-direction: column;
  padding: 2em;
}

.hero-students > div {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  max-width: 640px;
  text-align: center;
}

a {
  color: #000;
}

h1 {
  display: inline-block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 4em;
  letter-spacing: -0.05em;
  line-height: 0.75;
  margin: 0.5em 0;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-7deg);
}

h1 > span {
  background-color: transparent;
  box-sizing: border-box;
  color: transparent;
  display: inline-block;
  margin: -0.1em auto;
  width: auto;
}

h1 > span:before {
  animation-name: title;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  box-sizing: border-box;
  content: attr(data-text);
  display: inline;
  color: white;
  display: block;
  position: absolute;
  z-index: 1;
}

h1 > span:last-child:before {
  animation-delay: 0.25s;
}

@keyframes title {
  0% {
    opacity: 0;
    transform: translateY(-0.2em);
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
  }

  20% {
    opacity: 1;
    transform: translateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  80% {
    opacity: 1;
    transform: translateY(0);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  100% {
    opacity: 0;
    transform: translateY(0.1em);
    -webkit-clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
    clip-path: polygon(0 70%, 100% 0, 100% 30%, 0 100%);
  }
}

/*Landing animation ends*/

@media screen and (max-width: 1000px) {
  .contact-form {
    left: 70px;
  }
}




@media (min-width: 768px) and (max-width: 991.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

@media (min-width: 576px) and (max-width: 900.99px) {
  .section-contact {
    padding: 80px 60px;
  }

  .section-contact .header-section .title {
    font-size: 45px;
  }

  .section-contact .header-section .big-title {
    font-size: 100px;
  }
}

@media screen and (max-width: 900px) {
  .navigation {
    left: -100%;
  }
  .navigation.active {
    left: 0;
  }
  .nav-button {
    display: block;
  }
  section {
    margin-left: 0;
  }
}

@media screen and (max-width: 900px) {
  .carousel {
    width: 70%;
    position: fixed;
    margin-left: 200px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 800px) {
  .figure {
    left: 50px;
  }
  .list-unstyled {
    display: grid;
  }
@media screen and (max-width: 670px){
  .carousel{
    width: 70%;
    position: fixed;
    margin-left: 100px;
    margin-top: 40px;
    height: 100px;
  }
}


  @media (max-width: 575.99px) {
    .section-contact {
      padding: 80px 60px;
    }

    .section-contact .header-section .title {
      font-size: 40px;
    }

    .section-contact .header-section .big-title {
      font-size: 80px;
    }

    .section-contact .header-section .description {
      font-size: 14px;
    }
  }
}
